<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com/teafunnycup/mybatis/CupMapper.xml">

<!-- 메인페이지 상품진열 -->
  <!-- 신상품 -->
  <select id="newpdtview" resultType="pdtDTO" parameterType="String">
  	SELECT * FROM 
  	new_pro_view
  </select>
  <!-- 인기상품 -->
  <select id="bestpdtview" resultType="pdtDTO" parameterType="String">
  	SELECT * FROM 
  	best_pro_view
  </select>
  
  
  
<!-- 회원관리 -->
  <!-- 회원가입 -->
  <insert id="memInsert" parameterType="memDTO">
   	INSERT INTO member (mid, mpw, mname, mphone, madd, memail, mbirth) 
	VALUES(#{mid}, #{mpw}, #{mname}, #{mphone}, #{madd}, #{memail}, #{mbirth})
  </insert>
  <!-- 아이디 중복체크 -->
  <select id="memIdCheck" resultType="memDTO" parameterType="String">
  	SELECT mid FROM member
	WHERE mid = #{mid}
  </select>
  
  
<!-- 로그인 -->
  <!-- ID, PW 등록된 회원인지 체크 -->
  <select id="memLogin" resultType="memDTO" parameterType="memDTO">
  	SELECT mid FROM member
	WHERE mid = #{mid} AND mpw = #{mpw} 
  </select>
  <!-- session -->
  <select id="sessionLogin" resultType="memDTO" parameterType="memDTO">
  	SELECT * FROM member
	WHERE mid = #{mid} AND mpw = #{mpw} 
  </select>

 <!-- 게시판 -->
  <select id="qna" resultType="qDTO" parameterType="String">
  	SELECT * FROM 
  	qna
  </select>
  
  <select id="boardlistAll" resultType="boardDTO" >
  	SELECT * FROM tblboard
  	ORDER BY bno DESC
  </select>  
  
  <insert id="boardinsert">
  	INSERT INTO tblboard (bno, title, writer, content) 
	VALUES(seq_tblboard_bno.nextval, #{title}, #{writer}, #{content})
  </insert>
  
  <select id="boarddetailview" resultType="boardDTO" parameterType="Integer">
  	SELECT * FROM tblboard
  	WHERE bno = #{bno}
  </select>
  <update id="boardupdate" parameterType="boardDTO">
  	UPDATE tblboard
  	SET title = #{title}, content = #{content}
  	WHERE bno = #{bno}
  </update> 
  <delete id="boarddelete" parameterType="Integer">
  	DELETE FROM tblboard
  	WHERE bno = #{bno}
  </delete>
  <!-- 게시글이 삭제되면서 리플이 같이 삭제되는 쿼리문 -->
  <delete id="bnoreplydelete" parameterType="Integer">
  	DELETE FROM tblreply
  	WHERE bno = #{bno}
  </delete>
  
  <!-- 페이지 -->
  <select id="countPaging" resultType = "int">
  		<!-- <![CDATA[]]>	:	sql에서 사용되는 부등호를 구분하기위해 사용 txt파일로 읽어서 오류가 날 수 있음  -->
		<![CDATA[
			SELECT count(bno)
			FROM tblboard
			WHERE bno > 0
		]]>  
  </select>
  
  <select id="listCriteria" resultType="boardDTO">
  		<![CDATA[
  			SELECT *
  			FROM (
  				SELECT rownum rnum,
  				a.*
  				FROM (
  					SELECT b.*, (SELECT COUNT(*) 
  								FROM tblreply d
  								WHERE b.bno = d.bno) replycnt 
  					FROM tblboard b
  					WHERE bno > 0
  					ORDER BY bno desc
  				) a
  			)
  			WHERE rnum BETWEEN #{pageStart} AND #{perPageNum}
  		]]>
  	</select>
  
 <!-- 조회수 -->
	<update id="boardViewCnt">
  	UPDATE tblboard
  		SET viewcnt = viewcnt+1
  		WHERE bno = #{bno}
 	</update> 

	<select id="replyAll" resultType="ReplyDTO" parameterType="Integer">
  		<![CDATA[
  			SELECT *
  			FROM tblreply
  			WHERE bno = #{bno}]]>
  	</select>

 <!-- 댓글 수 카운트 -->
	<select id="replycount"  resultType="Integer" parameterType="Integer" >
		SELECT COUNT(*) 
		FROM tblreply 
		WHERE bno= #{bno}
	</select>
	
 <!-- 댓글 추가 -->	
	<insert id="replyinsert" parameterType="ReplyDTO" >
  	INSERT INTO tblreply (rno, bno, content, writer) 
	VALUES(seq_tblreply_rno.nextval, #{bno}, #{content}, #{writer})
  </insert>
  
 <!-- 댓글 삭제 -->
 	<delete id="replydelete" parameterType="Integer">
  	DELETE FROM tblreply
  	WHERE rno = #{rno}
  </delete>
  
 <!-- 게시판 검색 키워드 찾기 -->
 	<select id="boardSearch" resultType="boardDTO" >
		<![CDATA[
  			SELECT *
  			FROM (
  				SELECT rownum rnum,
  				a.*
  				FROM (
  					SELECT b.*, (SELECT COUNT(*) 
  								FROM tblreply d
  								WHERE b.bno = d.bno) replycnt 
  					FROM tblboard b]]>
					<if test='flag == "1"'>
						<![CDATA[WHERE bno > 0 AND title LIKE '%'||#{keyword}||'%' OR content LIKE '%'||#{keyword}||'%' OR writer LIKE '%'||#{keyword}||'%']]>
					</if>
					<if test='flag == "2"'>
						<![CDATA[WHERE bno > 0 AND title LIKE '%'||#{keyword}||'%']]>
					</if>
					<if test='flag == "3"'>
						<![CDATA[WHERE bno > 0 AND content LIKE '%'||#{keyword}||'%']]>
					</if>
					<if test='flag == "4"'>
						<![CDATA[WHERE bno > 0 AND title LIKE '%'||#{keyword}||'%' OR content LIKE '%'||#{keyword}||'%']]>
					</if>
					<if test='flag == "5"'>
						<![CDATA[WHERE bno > 0 AND writer LIKE '%'||#{keyword}||'%']]>
					</if>
					
					<![CDATA[ORDER BY bno desc
  				) a
  			)
  			WHERE rnum BETWEEN #{pageStart} AND #{perPageNum}
  		]]>
	</select>
	<!-- 게시판 검색 -->
	<select id="scountPaging" resultType="int">
		<![CDATA[
			SELECT count(bno)
			FROM tblboard]]>
			<if test='flag == "1"'>
				<![CDATA[WHERE bno > 0 AND title LIKE '%'||#{keyword}||'%' OR content LIKE '%'||#{keyword}||'%' OR writer LIKE '%'||#{keyword}||'%']]>
			</if>
			<if test='flag == "2"'>
				<![CDATA[WHERE bno > 0 AND title LIKE '%'||#{keyword}||'%']]>
			</if>
			<if test='flag == "3"'>
				<![CDATA[WHERE bno > 0 AND content LIKE '%'||#{keyword}||'%']]>
			</if>
			<if test='flag == "4"'>
				<![CDATA[WHERE bno > 0 AND title LIKE '%'||#{keyword}||'%' OR content LIKE '%'||#{keyword}||'%']]>
			</if>
			<if test='flag == "5"'>
				<![CDATA[WHERE bno > 0 AND writer LIKE '%'||#{keyword}||'%']]>
			</if>
	</select>
	
	
	
	<!-- 로그인 테스트 -->
	<select id="logincheck" parameterType="memDTO" resultType="memDTO" >
		SELECT *
		FROM member
		WHERE mid=#{mid} AND mpw=#{mpw}
	</select>
	
</mapper>